div.axis {
    width: 62vw;
    margin: auto auto 2vw 19vw;
    /* background: #000; */
    /* min-height: 20vw; */
    /* float: left; */
}
div.axis a {
    text-decoration: none;
}
div.axis > div {
    width: 30vw;
    /* min-height: 50vw; */
    background: #bbbbbb;
    border-radius: 1vw;
}
div.axis > div.pages {
    float: left;
    margin-bottom: 0.7vw;
}
div.axis > div.logs {
    float: right;
}
div.axis> div >div.title {
    font-size: 1.5vw;
    margin: 1vw auto 1vw auto;
    text-align: center;
}
div.axis > div.pages > div.pageslist> a.list {
    float: left;
    display: block;
    width: calc(100% - 4vw);
    border: solid 1px;
    border-radius: 0.3vw;
    margin: 0vw 1vw 0.7vw 1vw;
    padding: 0.7vw 1vw 0.7vw 1vw;
    font-size: 1.5vw;
}
div.axis > div.pages > div.pageslist> a.list > div.list {
    display: inline-block;
}
div.axis > div.pages > div.pageslist> a > div.listsvg {
    width: 0px;
    height: 0px;
    transform: rotate(135deg);
    transform-origin: center;
    float: right;
    margin-top: 0.9804vw;
}
div.axis > div.pages > div.pageslist> a > div.listsvg:before {
    content: "";
    position: absolute;
    width: 1vw;
    height: 0.3vw;
    background: #000;
    border-radius: 0.3vw;
}
div.axis > div.pages > div.pageslist> a > div.listsvg:after {
    content: "";
    position: absolute;
    width: 0.3vw;
    height: 1vw;
    background: #000;
    border-radius: 0.3vw;
}