div.from {
  width: 100vw;
  height: 100vh;
  background: #000;
  position: fixed;
  top: 0vw;
  > div.address {
    margin: 10vw auto auto 25vw;
    width: 50vw;
    background: #9c9c9c;
    height: 50vh;
    border-radius: 1vw;
    > div.body {
      margin-left: 2vw;
      padding-top: 2vw;
      > div.title {
        text-align: center;
        width: 100%;
        font-size: 2vw;
      }
      > div.svg {
          margin-left: 25vw;
          margin-top: 1vw;
          svg {
            width: 1vw;
            height: 1vw;
            position: relative;
            top: -4vw;
            left: 13vw;
            background-color: black;
            padding: 0.3vw;
            border-radius: 0.3vw;
            display:inline-block;
        }
      }
      > div.item {
        margin-left: 25%;
        background: #000;
        width: 50%;
        height: 5vw;
      }
    }
  }
}